/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh;
}

.carousel-item:nth-child(1) {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(2) {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(3) {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(4) {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #introCarousel {
    margin-top: -58.59px;
  }
}

.navbar .nav-link {
  color: #fff !important;
}

/*//////////////////////main//////////////////*/
/* course-section */

.container {
  margin-top: 100px;
}

.title h3{
color: rgb(86, 255, 255);
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 500;
  padding: 2%;
  border: 2px solid #00eeff;
}

.card-container{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  margin-top: 50px;
}


.course-image{
	width:100%;
	height: 200px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-content {
    padding: 2px 16px;
	text-align: start;
}
/*////////////////////////video//////////////////////*/
.video-section{
  background-color: #F0FFF0;
  padding: 80px 0px;
  margin-bottom: 50px;
  margin-top: 90px;
}
.video-details{
  margin-left: 200px;
}

.video-details h2{
  font-size: 36px;
  line-height: 54px;
  color: #413960;
}

.video-details button{
font-size: 2rem;
background: #ff6200;
}
.video-image img{
  border-radius: 20px;
}
.video-image{
  position: relative;
  margin-left: 170px;
}





/*////////////////////////FOOTER//////////////////////*/
#propos {
  margin-top: 100px;
  text-decoration: none;

}

#propos ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;

}

#propos li a {
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  color: black;
}

#propos img {
  width: 3rem;
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.home-sci {
  margin-top: 20px;
  font-size: 50px;
  display: flex;
  justify-content: space-around;
}

.home-sci a {
  
  text-decoration: none;
  
}



.copyright p {
display: flex;
justify-content: flex-end;
font-family:'Montserrat', sans-serif ;
font-style: oblique;
font-size: 15px;
color: #000;
font-weight: 600;
}

.copyright p:hover {
  color: #18A0FB;
}

.copyright a{
  text-decoration: none;
}

